{% extends 'main.html' %}
{% block body %}
{% load static %}

<div class="container p-3 mt-5 bg-dark"
     style="background-color:#414141; border-top-right-radius: 1.5em !important; border-top-left-radius: 1.5em !important;">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="input-group text-md-left justify-content-start">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light">Wynik</span>
                </div>
                <span class="input-group-text bg-light" id="score"></span>
<!--                <span class="input-group-btn d-md-none"></span>-->
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light">Próby</span>
                </div>
                <span class="input-group-text bg-light" id="trial"></span>
<!--                <span class="input-group-btn d-md-none"></span>-->
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light">Do zdobycia</span>
                </div>
                <span class="input-group-text bg-light" id="scoretoGet">7</span>
            </div>

        </div>
        <div class="col-sm-12 col-md-4 mt-3 mt-md-0">
            <div class="input-group text-md-right justify-content-end">
                <div class="input-group-prepend m-1">
                    <button type="button" class="btn btn-primary" id="skipPlayer" onclick="skipPlayer(50);">Pomiń
                    </button>
                </div>
                <div class="input-group-prepend m-1">
                    <a href="/" class="btn btn-danger">Zakończ</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-3" style="background-color:#414141">
    <div class="col-sm-8 mx-auto">
        <div class="row">
            {% for playerDetail in playerDetails %}
                {% include 'guessWho/guessWhoCard.html' %}
            {% endfor %}
        </div>

    </div>
    <div class="row">
        <form id="my-form" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                    <label id="surnameLabel">Nazwisko</label>
                    <input type="text" name='surname' class="form-control collectes-ville text-center"
                           placeholder="Nazwisko piłkarza">
                    <input type="hidden" name='correctAnswer' value="{{surname}}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                    <button class="btn checkPlayer m-4">Sprawdź <i class="fa fa-caret-right"></i></button>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class=" justify-content-center">
            <div class="text-center">
                <div id="summary" class="p-3" style="display:none;width:auto"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>


</div>
<div class="container p-5 mb-5 bg-dark"
     style="background-color:#414141; border-bottom-right-radius: 1.5em !important; border-bottom-left-radius: 1.5em !important;">

</div>

{% endblock %}