{% load static %}
<footer class="mt-auto navbar navbar-expand-lg navbar-light shadow bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <div class="navbar-nav ">
            <a class="nav-item nav-link text-light" href="#">Contact</a>
            <a class="nav-item nav-link text-light" href="#">Recent Results</a>
            <a class="nav-item nav-link text-light" href="#">Standings</a>
        </div>
        <p class="text-white">Copyright &copy; 2023 Soccer Website</p>
        <div class="navbar-nav">
            <a class="nav-item nav-link text-light" href="#">Privacy Policy</a>

            {% include 'siteBase/termsAndConditions.html' %}
        </div>
    </div>
</footer>




