{% load static %}

<nav class="navbar navbar-expand-lg navbar-light shadow" style="background:#212529">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="/"><img style="width:6em; margin-left: 2.25em;" class="img-fluid"
                                                      src="{% static 'img/logo.png'%}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container-fluid navbar-light p-3 bg-dark">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h5>
                            <a class="nav-item nav-link" href="/guessWho">Guess Who</a>
                        </h5>

                        <h5>
                            <a class="nav-item nav-link" href="/whoMore">Who More</a>
                        </h5>

                        <h5>
                            <a class="nav-item nav-link" href="/scatter">Scatter</a>
                        </h5>
                    </div>
                    <div class="col-md-auto d-flex justify-content-end">
                        {% include 'ranking/ranking.html' %}
                        <a class="nav-item nav-link" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
                        <a class="nav-item nav-link" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                        {% include 'user/registerModal.html' %}
                        {% include 'user/loginModal.html' %}
                        <div class="dropdown">
                            <a href="#"
                               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-user userIcon"></span>
                                <p>Profil</p>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light text-small shadow dropdown-menu-end">
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="#">{{ user.get_username }}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% else %}
                                <li><a class="dropdown-item" type="button" data-bs-toggle="modal"
                                            data-bs-target="#loginModal">Zaloguj się</a></li>
                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal"
                                            data-bs-target="#registerModal">Zarejestruj się</a></li>

                                {% endif %}
                                {% if user.is_authenticated %}

                                <li><a class="dropdown-item" href="/logout">Wyloguj</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>





