{% load static %}


<div class="container-fluid navbar-light shadow p-3 bg-dark">
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <div class="col d-flex justify-content-center"><h5><a class="nav-item nav-link" href="#">Upcoming Games</a></h5></div>
            <div class="col d-flex justify-content-center"><h5><a class="nav-item nav-link" href="#">Recent Results</a></h5></div>
            <div class="col d-flex justify-content-center"><h5><a class="nav-item nav-link" href="#">Standings</a></h5></div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="col d-flex justify-content-center"><h4><a href="/" class="nav-item nav-link">Soccer Website</a>
            </h4></div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="col d-flex justify-content-center"><h5><a class="nav-item nav-link" href="#">Facebook</a></h5></div>
            <div class="col d-flex justify-content-center"><h5><a class="nav-item nav-link" href="#">Twitter</a></h5></div>
            <div class="col d-flex justify-content-center"><h5><a class="nav-item nav-link" href="#">Instagram</a></h5></div>
        </div>
    </div>
</div>



