{% load static %}

<a class="nav-item nav-link text-light" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Terms &
    Conditions</a>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">webApp - Soccer website</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="d-flex text-center justify-content-center p-2"><h3>Terms & Conditions</h3></div>
                <p class="text-dark"> LIVE: <a class="text-dark" href="https://blazej2533.pythonanywhere.com/">blazej2533.pythonanywhere.com</a></p>
                <p> Gra polegająca na zgadywaniu piłkarzy na podstawie ich narodowości, klubów oraz innych statystyk</p>
                <h2> WhoMore</h2>
                <ol>
                    <li>Odkrywaj karty i zgadnij który to piłkarz</li>
                    <ul>
                        <li> Wzrost</li>
                        <li> Narodowość</li>
                        <li> Klub</li>
                        <li> Pozycja na boisku</li>
                        <li> Liga</li>
                        <li> Zdjęcie piłkarza</li>
                    </ul>
                    <li>Im więcej kart odkryjesz tym mniej punktów możesz zdobyć</li>
                    <li> Maksymalna ilość punktów do zdobycia wynosi 7 dla każdego piłkarza</li>
                    <li> Masz możliwość użycia wskazówki, która odkrywa losową kartę</li>
                </ol>
                <h2>GuessWho</h2>
                <ol>
                    <li> Wylosowani zostali dwaj piłkarze</li>
                    <li>Wybierz jednego, który posiada większą wartość</li>
                    <ul>
                        <li>Wzrost</li>
                        <li>Cenę w grze fifa 23</li>
                        <li>Wyższą ocenę w grze</li>
                    </ul>
                    <li>Za każdą poprawną odpowiedź zdobywasz 1pkt</li>
                    <li>Po udzieleniu błędnej odpowiedzi tracisz wszystkie punkty - gra do pierwszej pomyłki</li>
                </ol>
                <h2> Scatter</h2>
                <ol>
                    <li> Zostaje wylosowany piłkarz, użytkownik widzi jego narodowość oraz klub</li>
                    <li> Z rozsypanych liter ułóż nazwisko piłkarza</li>
                    <li> Wprowadzone literki zaznaczają się na zielono aby ułatwić sprawdzenie użytych liter</li>
                    <li> Za każde odganięte nazwisko otrzymujesz 1 pkt</li>
                    <li> Masz możliwość użycia wskazówki, która wskazuje pierwszą literę nazwiska piłkarza</li>

                </ol>
                <p> W każdej grze możesz pominąć bieżące wylosowania piłkarzy nie tracąc szansy na zdobycie kolejnych
                    punktów.</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>