{% load static %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#registerModal">
    Register
</button>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light text-center" id="registerModalLabel">Rejestracja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <div id="register-form-wrapper">

                </div>
            </div>
        </div>
    </div>
</div>