{% load static %}

<div class="col-6 col-md-4 col-lg-3 my-3 mx-auto">
    <a href="/guessWho" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <img src="{% static 'img/guesswho.jpg' %}"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title text-uppercase fw-bold">Kim jesteś?</h5>
                <p class="card-text">Odgadnij piłkarza używając jak najmniej wskazówek!</p>
            </div>
        </div>
    </a>
</div>


<div class="col-6 col-md-4 col-lg-3 my-3 mx-auto">
    <a href="/whoMore" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <img src="{% static 'img/guesswho.jpg' %}"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title text-uppercase fw-bold">Kto więcej?</h5>
                <p class="card-text">Zgadnij kto ma większą ocenę wzrost lub wartość w fifa 23!</p>
            </div>
        </div>
    </a>
</div>

<div class="col-6 col-md-4 col-lg-3 my-3 mx-auto">
    <a href="/scatter" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <img src="{% static 'img/guesswho.jpg' %}"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title text-uppercase fw-bold">Rozsypanka</h5>
                <p class="card-text">Odgadnij nazwisko piłkarza z wymieszanych liter!</p>
            </div>
        </div>
    </a>
</div>


