{% extends 'main.html' %}
{% block title %} WypGier {% endblock %}
{% block body %}
{% load static %}

<div class="container mt-5 p-3 bg-dark"
     style="background-color:#414141; border-top-right-radius: 1.5em !important; border-top-left-radius: 1.5em !important;">
    <h2 style="color:white;
                  display: flex;
                  justify-content: center;
                  ">
        Wybierz interesującą Cię grę
    </h2>
</div>
<div class="container p-5" style="background-color:#414141">
    <div class="row">

    </div>
    <div class="row justify-content-center mx-auto">
        {% include 'cardMainSite.html' %}
    </div>
</div>
<div class="container p-5 mb-5 bg-dark"
     style="background-color:#414141; border-bottom-right-radius: 1.5em !important; border-bottom-left-radius: 1.5em !important;">

</div>


{% endblock %}