{% load static %}

<div class="col-sm-6 col-md-4 my-3">
    <a href="/guessWho" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <div class="row no-gutters">
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="{% static 'img/guesswho.jpg' %}"
                         style="flex-shrink: 0;
                                min-width: 100%;
                                min-height: 100%;
                                border-radius:1.5em;"
                         class="card-img p-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase fw-bold">Kim jesteś?</h5>
                        <p class="card-text">Odgadnij piłkarza używając jak najmniej wskazówek!</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-sm-6 col-md-4 my-3">
    <a href="/whoMore" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <div class="row no-gutters">
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                    <img  src="{% static 'img/guesswho.jpg' %}"
                         style="flex-shrink: 0;
                                min-width: 100%;
                                min-height: 100%;
                                border-radius:1.5em;"
                         class="card-img p-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase fw-bold">Kto więcej?</h5>
                        <p class="card-text">Zgadnij kto ma większą ocenę wzrost lub wartość w fifa 23!</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-sm-6 col-md-4 my-3">
    <a href="/scatter" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <div class="row no-gutters">
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="{% static 'img/guesswho.jpg' %}"
                         style="flex-shrink: 0;
                                min-width: 100%;
                                min-height: 100%;
                                border-radius:1.5em;"
                         class="card-img p-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase fw-bold">Rozsypanka</h5>
                        <p class="card-text">Odgadnij nazwisko piłkarza z wymieszanych liter!</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-sm-6 col-md-4 my-4">
    <a href="#" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <div class="row no-gutters">
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="{% static 'img/guesswho.jpg' %}"
                         style="flex-shrink: 0;
                                min-width: 100%;
                                min-height: 100%;
                                border-radius:1.5em;"
                         class="card-img p-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase fw-bold">Kim jesteś?</h5>
                        <p class="card-text">Odgadnij piłkarza używając jak najmniej wskazówek</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-sm-6 col-md-4 my-4">
    <a href="#" style="text-decoration: none; color:#FFFFFF">
        <div class="card mb-3 cardStyle">
            <div class="row no-gutters">
                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="{% static 'img/guesswho.jpg' %}"
                         style="position:relative;
                                min-width: 100%;
                                min-height: 100%;
                                border-radius:1.5em;"
                         class="card-img p-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase fw-bold">Kim jesteś?</h5>
                        <p class="card-text">Odgadnij piłkarza używając jak najmniej wskazówek</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
