{% extends 'main.html' %}
{% block body %}
{% load static %}

<div class="container p-3 mt-5 bg-dark" style="background-color:#414141; border-top-right-radius: 1.5em !important; border-top-left-radius: 1.5em !important;">
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light">Wynik</span>
                </div>
                <span class="input-group-text bg-light" id="score"></span>
                <span class="input-group-btn m-2" style="width:0px;"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light">Próby</span>
                </div>
                <span class="input-group-text bg-light" id="trial"></span>
                <span class="input-group-btn m-2" style="width:0px;"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light">Do zdobycia</span>
                </div>
                <span class="input-group-text bg-light" id="scoretoGet">7</span>
                <span class="input-group-btn m-2" style="width:0px;"></span>
            </div>
        </div>


        <div class="col-sm ">
            <div class="input-group justify-content-end">
                <div class="input-group-prepend m-1">
                    <button type="button" class="btn btn-primary" id="skipPlayer" onclick="skipPlayer(50);">Pomiń
                    </button>
                </div>

                <div class="input-group-prepend m-1">
                    <a href="/" class="btn btn-danger">Zakończ</a>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="container p-3" style="background-color:#414141">
    <div class="col-sm-8 mx-auto">
        <div class="row">
            {% for playerDetail in playerDetails %}
            <div class="col-sm-6 col-md-4 my-3 " onclick="flipCard()">
                <div class="card h-100 cardStyle " style="background-color:#414141;">
                    <div class="card align-items-center flip-card ">
                        <div class="flip-card-inner ">
                            <div class="flip-card-front"
                                 style="background-color:#212529 !important; border-radius:15px;">
                                <img src="{% static 'img/guesswho.jpg' %}"
                                     style="
                                              border-radius:1.5em;"
                                     class="card-img-top">
                            </div>

                            <div class="flip-card-back h-100"
                                 style="display:none; border-radius:25px; background:linear-gradient(0deg,#6c757d 0%,#FFF29E 100%);">
                                <div class="card-body m-2"
                                     style="background:linear-gradient(0deg,#FFD86E 0%,#FFF29E 100%);border-radius:1.5em;">
                                    <h5 class="card-title">
                                        {{playerDetail.0}}
                                    </h5>
                                </div>

                                <img src="{{playerDetail.1}}"
                                     style="
                                     max-width: 60%;
                                     max-height: 60%;"
                                     class="card-img-top ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="row">
        <form id="my-form" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                    <label id="surnameLabel">Nazwisko</label>
                    <input type="text" name='surname' class="form-control collectes-ville text-center"
                           placeholder="Nazwisko piłkarza">
                    <input type="hidden" name='correctAnswer' value="{{surname}}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                    <button class="btn checkPlayer m-4">Sprawdź <i class="fa fa-caret-right"></i></button>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class=" justify-content-center">
            <div class="text-center">
                <div id="summary" class="p-3" style="display:none;width:auto"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>


</div>
<div class="container p-5 mb-5 bg-dark" style="background-color:#414141; border-bottom-right-radius: 1.5em !important; border-bottom-left-radius: 1.5em !important;">

</div>

{% endblock %}